{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<section class="h-100 ">
    <div class="container content-container">
        <div class="card rounded-3 mb-4">
            <div class="container">
                <div>
                    <hr>
                    <h2 class="logo-font mb-4">All Comments</h2>
                    <h5 class="text-muted">See What Our Customers Say</h5>
                    <hr>
                </div>
            </div>
            <div>
                {% if reviews %}
                {% for review in reviews %}
                <div class="card mb-5 text-center">
                    <div class="card-header review-title">
                        <strong>{{ review.title }}</strong>
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>
                                {{ review.comment }}
                            </p>
                            <span class="text-warning">
                                {% if review.rating == 5 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                {% elif review.rating == 4 %}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-muted"></i>
                                {% else%}
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star text-muted"></i>
                                <i class="fas fa-star text-muted"></i>
                                {% endif %}
                            </span>
                            <hr>
                            <footer class="blockquote-footer">Posted by: <cite
                                    title="Source Title">{{ review.user }} on {{ review.date_created }}</cite>
                            </footer>
                        </blockquote>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                {% if user.is_authenticated %}
                <div class="col-lg-12 pt-5 pb-5">
                    <p class="text-center">There are no comments. Add your comment <a href="{% url 'add_comment' %}">now</a>!</p>
                </div>
                {% else %}
                <div class="col-lg-12 pt-5 pb-5">
                    <p class="text-center">Please <a href="{% url 'account_login' %}">login</a> to leave your comment.</p>
                </div>
                {% endif %}  
                {% endif %}  
                
                {% if user.is_authenticated %}
                <div class="col-lg-12 pt-5 pb-5">
                    <p class="text-center">Please <a href="{% url 'add_comment' %}">tell us</a> what you think of our website!</p>
                </div>
                {% else %}
                <div class="col-lg-12 pt-5 pb-5">
                    <p class="text-center">Please <a href="{% url 'account_login' %}">login</a> to leave your comment.</p>
                </div>
                {% endif %}     
            </div>
        </div>
    </div>
</section>
{% endblock %}