{% extends "base.html" %}
{% load static %}


{% block page_header %}

{% endblock %}

{% block content %}
<section class="h-100 ">
    <div class="container content-container">
        <div class="card rounded-3 mb-4">
            <div class="container">
                <div>
                    <hr>
                    <h2 class="logo-font mb-4">Poll</h2>
                    <h5 class="text-muted">Vote and see how many people support charity</h5>
                    <hr>
                </div>
            </div>
            <div class="bg-warning text-center p-5 mt-4">
                <ul class="list-group">
                    {% for poll in polls %}
                    <li class="list-group-item">
                        <strong>{{ poll.question }}</strong>
                        <span class="pull-right">
                            <a href="{% url 'vote' poll.id %}" class="btn btn-success btn-xs">Vote</a> &nbsp;
                            <a href="{% url 'results' poll.id %}" class="btn btn-success btn-xs">View Results</a> &nbsp;
                        </span>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>    
</section>
{% endblock %}