@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap" rel="stylesheet');


body {
    background: url('/media/dog-paw-human-hand.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

.content-container {
  margin-top: 200px;
}

/*Navbar*/
.top-nav-collapse {
  background-color: #635147 !important;
}

.navbar {
    background-color: #635147 !important;
}

.logo-font {
    text-transform: uppercase;
}

.sorting {
  color:#F5F5DC !important;
}

/*Index.html text*/
h1 {
  letter-spacing: 8px;
  color: #F5F5DC;
}

h5 {
  letter-spacing: 3px;
  color:#F5F5DC;

}

.hr-light {
  border-top: 2px solid #fff;
  width: 300px;
}

/*Products image cards*/
.card{
  margin: 5% 0%;
}

.card-body {
  margin: 0% 0% 0% 3%;
  padding: 6% 6%;
}

.card-img-top {
  width: 100%;
  height: 55vh;
  object-fit: cover;
}

/* Back to the top button from https://mdbootstrap.com/docs/standard/extended/back-to-top */
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

/*Cursor*/
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*Toast messages*/
.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

/*Star Rating from https://github.com/shellieD/get-ducked/ */
.rate>input {
  display: none;
}

.rate {
  display: inline-block;
  border: 0;
}

.rate>label {
  float: right;
}

/* Showing the stars*/
.rate>label:before {
  display: inline-block;
  font-size: 1.5rem;
  content: "\f005";
  font-family: FontAwesome;
  margin: 0;
  padding: 0.3rem .2rem;
  cursor: pointer;
}

/* click and hover*/
input:checked~label,
label:hover~label {
  color: #ffb503;
}

/* hover highlight */
input:checked+label:hover,
input:checked~label:hover,
input:checked~label:hover~label,
label:hover~input:checked~label {
  color: #cc9000;
}

