{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <!--Required Meta tags-->
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <!--Bootstrap CSS-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <!--Base CSS-->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <!--Fontawesome CSS-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" >
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <!--Minified version of jQuery-->
        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <!--Separate Popper and Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!--Stripe.js PCI compliant-->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>High Paw {% block extra_title %}{% endblock %}</title>
  </head>
  <body class="d-flex flex-column h-100">
    <header class="container-fluid fixed-top">
      <!--Navbar-->
      <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
        <div class="container">
          <!--Logo-->
          <a href="{% url 'home' %}" class=" navbar-brand nav-link main-logo-link">
            <h2 class="logo-font my-0"><strong>High</strong>Paw</h2>
          </a>
          <!--Hamburger menu logo for small screens-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <!--Home-->
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                  <div class="text-center">
                    <div><i class="fas fa-paw"></i></div>
                    <p class="my-0">
                      Home<span class="sr-only">(current)</span>
                    </p>
                  </div>
                </a>
              </li>
              <!--Dropdown menu for products sorting-->
              <li class="nav-item dropdown">
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="text-center dropdown-toggle">
                    <div><i class="fas fa-solid fa-dog fa-lg"></i></div>
                    <p class="my-0">
                      All Products
                    </p>
                  </div>
                </a>
                <div class="dropdown-menu border-1" aria-labelledby="all-products-link">
                  <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                  <a href="{% url 'products' %}?sort=rating&direction=desc"  class="dropdown-item ">By Rating</a>
                  <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                  <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <!--Account-->
                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="text-center dropdown-toggle">
                    <div><i class="fas fa-duotone fa-user fa-lg"></i></div>
                    <p class="my-0">
                      Account
                    </p>
                  </div>
                </a>
                <!--Account dropdown-->
                <div class="dropdown-menu border-1" aria-labelledby="user-choice">
                  <!--Django tags for user/admin authentication-->
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                      <a href="#" class="dropdown-item">Product Management</a>
                    {% endif %}
                      <a href="#" class="dropdown-item">My Profile</a>
                      <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                      <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                      <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                  {% endif %}
                </div>
              </li>
              <!--Shopping bag link-->
              <li class="nav-item">
                <!--Django tags for change in font and color of gross total-->
                <a class="{% if gross_total %}text-success font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'review_bag' %}">
                  <div class="text-center">
                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                    <p class="my-0">
                      <!--Django tags for gross total-->
                      {% if grand_total %}
                        eur {{ grand_total|floatformat:2 }}
                      {% else %}
                        eur 0.00
                      {% endif %}
                    </p>
                  </div>
                </a>
              </li>
            </ul>
            <!--Searchbar-->
            <div class="row justify-content-center">
              <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'products' %}">
                <div class="input-group mb-3">
                  <input class="form-control border border-block rounded-1" type="text" name="q" placeholder="Find A Product">
                  <div class="input-group-append"><button class="btn btn-warning my-sm-0"><i class="fas fa-search"></i></button></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </nav>
    </header>

    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
      $('.toast').toast('show');
    </script>
    {% endblock %}

  </body>
</html>